div{
    border-color:black;
    border-top-color:yellow ;
    border-bottom-color:blue ;
    border-style: solid;
    border-width: 2px;
    border-left-color: red;
    border-right-color: red;

}